<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/media/css/main.css" rel="stylesheet" type="text/css" />
    {% block css %}
    {% endblock %}
    
    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="navigation">
        <div id="links">
            <ul>
                <li><a href="{% url register %}">Register</a></li>
                <li><a href="{% url login %}">Login</a></li>
            </ul>
        </div>
    </div>
    <div id="body-container">
        {% block content %}{% endblock %}

        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    <div style="clear:both"></div>
    <footer>
        <div id="links">
        	<ul>
            	<li> <a href="#"> About </a></li>
                <li> <a href="#"> Developers </a></li>
                <li> <a href="#"> Privacy </a></li>
                <li> <a href="#"> Terms of Services </a></li>
                <li> <a href="#"> Help </a></li>
                <li> <a href="#"> &#169; 2011 Sarimanok </a></li>
            </ul>
        </div>
    </footer>
  </body>
</html>
