{% extends 'accounts/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

    <h1>Login page</h1>
    {% if errors %}
        <h4>Account is not yet registered.</h4>
        <a href="{% url register %}">Register Here</a>
    {% endif %}
    <form method="POST" action="{% url login %}">
        {% if form %}
            <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.errors }}</td>
                </tr>
                <tr>
                    <td>{{ field.label_tag }}:</td><td>{{ field }}</td>
                </tr>
            {% endfor %}
            </table>
            <input type="submit" value="login" />
        {% else %}
            WALA!
        {% endif %}
    </form>
{% endblock %}
