{% extends 'accounts/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
    <h1>Registration page</h1>
    <form method="POST" action="{% url register %}">
        {% csrf_token %}
        {% if form %}
            <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.errors }}</td>
                </tr>
                <tr>
                    <td>{{ field.label_tag }}:</td><td>{{ field }}</td>
                </tr>
            {% endfor %}
            </table>
            <input type="submit" value="register" />
        {% else %}
            WALA!
        {% endif %}
    </form>
    
    {{ code }}
    {{ profile.user.username }}
{% endblock %}
